body{
    margin: 0;
    font-family: 'Times New Roman';
    background-color: #e8e8e8;
}

.container{
    width: 350px;
    margin: 100px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px;
    text-align: center;
}

.title{
    margin-bottom: 20px;
}

.form{
    text-align: left;
}

.label{
    display: block;
    margin-top: 10px;
}

.input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.text{
    margin-top: 15px;
}

.link{
    color: #4CAF50;
    text-decoration: none;
}